# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/

# Chainlit
.chainlit/.files/
.chainlit/chat_files/
.chainlit/.langchain.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.local

# Data
data/
*.db
*.sqlite
public/

#Files 
Protocolo_MCD_2025_Hector_Sanchez_v4_Chainlit.md
copilot-instructions.md